@media (min-width: 320px) {
  html body {
    overflow-x: hidden;
    display: grid;
    max-width: 100%;
    min-height: auto;
    align-content: space-around;
    font-size: 1em;
    grid-template-areas:
      'welcome'
      'nav'
      'main'
      'aside'
      'article'
      'spacing'
      'footer';
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }

  .footer {
    background-color: plum;
    grid-area: footer;
    /* display: grid; */
    border-top: 5px solid purple;
  }

  header > h1 {
    grid-column: span 2;
    grid-row: 1;
    margin: 25px 6px;
    font-size: 1.6em;
    background-color: plum;
    color: darkmagenta;
    padding: 6px;
  }

  header > h3 {
    font-size: 80%;
    line-height: 3em;
    margin: 15px 29px;
    padding-right: 30px;
    background-color: lavender;
    max-width: 77%;
  }
  nav {
    grid-area: nav;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

  nav a {
    padding-right: 20px;
    font-size: 100%;
  }

  main {
    /* display: grid; */
    grid-area: main;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  main .topic-aside {
    background-color: lavender;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    margin-bottom: 51px;
  }

  main .topic-aside h3 {
    color: orange;
    font-weight: bolder;
  }

  main .blog-content {
    margin: 1px;
    max-width: 100%;
    padding: 2%;
    line-height: 2em;
  }

  main .screen-shot {
    max-width: 100%;
    height: auto;
  }

  main .blog {
    margin-bottom: 50px;
    border-top: 5px solid darkorchid;
    border-radius: 5%;
  }

  .entries {
    margin-right: 3%;
    margin-bottom: 40px;
    list-style-type: none;
  }

  li {
    font-size: 100%;
    padding-bottom: 40px;
  }

  h4 {
    font-size: medium;
  }

  .question .answer {
    margin: 0;
    padding: 0;
  }

  .question h3 {
    background-color: lavender;
    margin-right: 10px;
  }

  .answer p {
    margin-left: 40px;
    padding: 20px;
  }

  .challenge {
    color: darkorchid;
    font-weight: 900;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1em;
  }

  main .blog-content {
    margin: auto;
    max-width: 80%;
  }

  main .screen-shot {
    margin: 40px;
  }

  pre code {
    background-color: #eee;
    padding: 20px;
    display: grid;
    border: 1px solid #999;
    margin: 40px;
    max-height: auto;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 2em;
  }
}
/*

@media (min-width: 321px) and (max-width: 421px) {
  body {
    grid-template-areas:
      'welcome' 'welcome'
      'nav' 'main'
      'nav' 'main'
      'nav' 'footer';
    display: grid;
  }

  header {
    grid-area: welcome;
    margin: auto;
    font-size: 13m;
  }
  header > h1 {
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }
  header > h3 {
    font-size: 75%;
    line-height: 1.5;
    margin: 10px;
  }
  nav {
    grid-area: nav;
    display: flex;
    margin-top: 1.5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4.5%;
  }

  nav > a {
    padding: 10px;
    top: 20px;
    padding: 10px;
    margin: 11px;
    font-size: small;
    display: flex;
  }

  */
/*body {
  display: grid;
  grid-template-areas:
    'welcome'
    'nav'
    'main'
    'aside'
    'article'
    'spacing'
    'footer';
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  grid-area: welcome;
  margin: auto;
  padding: inherit;
  font-size: 1em;
  * position: relative; *
}

nav {
  * grid-area: nav; *
  * margin-top: 0.5%; *
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5%;
  * padding: 20px; *
  * position: relative; *
}

.footer {
  background-color: plum;
  grid-area: footer;
  * display: grid; *
  border-top: 5px solid purple;
} */

/*
.blog-content {
  display: grid;
  grid-area: article;
  grid-template-areas: 'section aside';
  margin-left: auto;
  margin-right: auto;
  margin: 13px;
  padding: 20px;
}

.topic-aside {
  grid-area: aside;
  margin-left: 97px;
}

.difference {
  grid-area: section;
  margin-right: auto;
}

#my-projects {
  margin: auto;
}

h3 {
  font-size: 1em;
  line-height: 1.5;
  position: relative;
  margin: 20px auto 20px auto;
}

h2 p {
  background-color: aquamarine;
}
p {
  width: 75vmin;
  line-height: 1.8;
  margin: auto;
  padding: 2%;
}

a {
  padding-right: 30px;
  position: sticky;
  top: 20px;
  padding-right: 20px;
  margin: 5vmin;
  font-size: medium;
}

#page-link-blogs {
  margin-inline: 0.12em;
}

main {
  grid-area: main;
  display: grid;
  padding: 29px;
  border-top: 5px solid purple;
}

.challenge {
  color: darkorchid;
  font-weight: 900;
}

h1 {
  font-size: auto;
  color: darkorchid;
}

.entries {
  margin: -32px;
  word-break: break-all;
}

li {
  margin: 32px;

}
img {
  margin: 40px auto 40px auto;
  border: solid 6px gray;
  border-radius: 5px;
  max-width: 100%;
  max-height: auto;
}

.blog-main {
  display: grid;
  grid-template-areas: 'article';
  margin: 30px auto;
}

#tech-blog,
#core-blog {
  max-width: fit-content;
  border: 2px solid darkorchid;
  border-radius: 2%;
}
.blog {
  background-color: #ffd6ff;
  padding: 30px;
  margin: 50px;
}

h4 {
  font-size: medium;
}
.question .answer {
  margin: 0;
  padding: 0;
}
.question h3 {
  background-color: lightgray;
  margin-right: 10px;
}
.answer p {
  margin-left: 40px;
  padding: 20px;
}

pre code {
  background-color: #eee;
  padding: 20px;
  display: grid;
  border: 1px solid #999;
  max-width: 50%;
  max-height: auto;
}

.question .answer {
  margin: 0;
  padding: 0;
}
.question h3 {
  background-color: lightgray;
  margin-right: 10px;
}
.answer p {
  margin-left: 40px;
  padding: 20px;
}

.topic-aside {
  display: block;
  background-color: yellow;
}


@media (orientation: landscape)
{
  body {
    
    grid-template-areas: 
    'welcome' 'welcome'
    'nav' 'main'
    'nav' 'main'
    'nav' 'footer'
  ;
  display: grid;
  }
} 

Ref: http://web.simmons.edu/~grabiner/comm244/weekfour/code-test.html#:~:text=You%20can%20include%20code%20examples,code%20as%20what%20it%20is.
 Ref. template areas
  https://www.youtube.com/watch?v=KOvGeFUHAC0&t=102s 
  */
