
body {
display: grid;
 grid-template-areas: 
 'welcome'
  'nav' 
  'main'
  'footer'
;

  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: auto;
}

header { 
  grid-area: welcome;
  margin: auto;
  padding: inherit;
  font-size: 1em;
  position: relative;
}

h3 {
  font-size: 1em;
  line-height: 1.5;
  position: relative;
  margin-left: 10%;
}

nav { 
  grid-area: nav;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  position: relative;
}

p {
  width: 75vmin;
  line-height: 3vh;
}
a {
  padding-right: 30px;
  position: sticky;
  top: 20px;
  padding-right: 20px;
  margin-left: -0.5em;
  font-size: medium;
}

main { 
  grid-area: main;
}

footer {
  grid-area: footer; 
}

h1 {
  font-size: auto;
  color: black;
}

.rounded {
  border: solid 5px gray;
  border-radius: 5px;
} 




/*
.tech-section {
  border: solid 5px red;
}
.core-section {
  border: solid 5px orange;
}
*/
.footer {
  background-color: yellowgreen;
}

@media (max-width: 600px) {
  body {
    /*grid-template-columns: 8em 1fr;
    grid-template-rows: auto 1fr auto; */
    grid-template-areas: 
      'welcome' 'welcome'
      'nav' 'main'
      'nav' 'footer'
    ;
  }
}





  /* Ref. template areas
  https://www.youtube.com/watch?v=KOvGeFUHAC0&t=102s */