
body {
display: grid;
 grid-template-areas: 
    'welcome'
    'nav' 
    'main'
    'aside'
    'article'
  'spacing'
  'footer'
;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: auto;
}

header { 
  grid-area: welcome;
  margin: auto;
  padding: inherit;
  font-size: 1em;
  position: relative;
}

nav { 
  grid-area: nav;
  margin-top: 0.5%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5%;
  padding: 20px;
  position: relative;
}

aside {
  grid-area: spacing; /*aside*/
  margin: auto;
  padding: 2%;
  border-top: 5px solid purple;
}

#ccs-concepts {
grid-area: main;
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#my-projects {
  margin: auto;
}

h3 {
  font-size: 1em;
  line-height: 1.5;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 75vmin;
  line-height: 3vh;
  margin: 5%;
  padding: 2%;
}

a {
  padding-right: 30px;
  position: sticky;
  top: 20px;
  padding-right: 20px;
  margin-left: -0.5em;
  font-size: medium;
}

main { 
  grid-area: main;
  /*display: grid; TODO*/
  margin: auto;
  border-top: 5px solid purple;
}



h1 {
  font-size: auto;
  color: darkorchid;
}

ul.entries {
  list-style-position: inside;
  padding: 0.5%; 
  margin: auto;
  word-break: break-all;
}

li {
  margin: 0.5em;
  padding: 2em;
}
img {
  margin-left: auto;
  margin-right: auto;
  border: solid 6px gray;
  border-radius: 5px;
  max-width: 100%;
  max-height: min-content;
}

.difference {
  margin-right: auto;
}

.blog-main {
  display: grid;
  grid-template-areas: 
  "article article";
  margin: 30px auto;
  border-top: 5px solid purple;
}

#tech-blog  {
  max-width: fit-content;
}
.blog {
  display: grid;
  background-color: #FFD6FF;
  padding: 30px;
  margin: 50px;
}

 h4 {
    font-size: medium;
  }

pre code {
background-color: #eee;
padding: 20px;
display: grid;
border: 1px solid #999;
max-width: 100%;
max-height: auto; 
}
/*
Ref: http://web.simmons.edu/~grabiner/comm244/weekfour/code-test.html#:~:text=You%20can%20include%20code%20examples,code%20as%20what%20it%20is.*/


.footer {
  background-color:plum;
  grid-area: footer;
  display: grid;
  /* grid-template-areas: "footer footer"; TODO*/
  border-top: 5px solid purple;
}

@media (max-width: 600px) {
  body {
    /*grid-template-columns: 8em 1fr;
    grid-template-rows: auto 1fr auto; */
    grid-template-areas: 
      'welcome' 'welcome'
      'nav' 'main'
      'nav' 'footer'
    ;
  }
}


    
  



  /* Ref. template areas
  https://www.youtube.com/watch?v=KOvGeFUHAC0&t=102s */